*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-size: 1.5rem;
    font-weight:bold ;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 10px white;
}
/* Home */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    height: 740px;
}
#home::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('img/person.jpg') center/cover;
    opacity: 0.8;
    width: 100%;
    height: 800px;
    z-index: -1;
}
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right: 10% ;
    top: 30%;
}
.heading{
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35%;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: 0.6s ease;
    border-radius: 15px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 15px white;
}
/* About Us */
#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(0, 0, 0, 0.9);
    color: white;
}
#image{
    display: flex;
}
#image img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Portfolio */
#portfolio{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    box-sizing: border-box;
}
.design{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.design img{
    border: 1px solid white;
    width: 360px;
    height: 240px;
    margin: 10px;
}